doctype html
html(ng-app="OrdersViewer")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="javascripts/vendor/jquery.min.js")
		script(src="javascripts/vendor/bootstrap.min.js")
		script(src="javascripts/vendor/underscore.min.js")
	body
		block content